In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import random

In [2]:
#Cargo todos los datasets Me he quedado con los nuevos para normalizar la info (mirar versiones anteriores)
netflix = pd.read_csv('../data/netflix_titles_nuevo.csv')
amazon = pd.read_csv('../data/amazon_titles_nuevo.csv')
hbo = pd.read_csv('../data/hbo_titles.csv')
imdb_top_movies = pd.read_csv('../data/imdb_top_250_movies.csv', encoding='latin1')
imdb_top_tv = pd.read_csv('../data/imdb_Top_250_TV_Shows.csv')
mis_calificaciones = pd.read_csv('../data/mis_calificaciones_imdb.csv')

In [3]:
def examinar_dataset(df,df_entrecomillado):
    print(f"Examinando dataframe: {df_entrecomillado} \n")
    print("\nInformación del dataset:")
    print(df.info())
    print("\nValores nulos:")
    print(df.isna().sum())
    print("Primeras 5 filas:\n")
    display(df.head())

In [4]:
examinar_dataset(netflix, "netflix")
examinar_dataset(amazon, "amazon")
examinar_dataset(hbo, "hbo")

Examinando dataframe: netflix


Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20195 entries, 0 to 20194
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19684 non-null  object
 1   type                20195 non-null  object
 2   genres              19925 non-null  object
 3   releaseYear         20182 non-null  float64
 4   imdbId              18887 non-null  object
 5   imdbAverageRating   18734 non-null  float64
 6   imdbNumVotes        18734 non-null  float64
 7   availableCountries  20195 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.2+ MB
None

Valores nulos:
title                  511
type                     0
genres                 270
releaseYear             13
imdbId                1308
imdbAverageRating     1461
imdbNumVotes          1461
availableCountries       0
dtype: int64
Primeras 5 filas:

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,518792.0,"AT, CH, DE"
1,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1226977.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
2,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,212517.0,"AD, AE, AG, AO, BH, BM, BR, BS, BZ, CI, CM, CO..."
3,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,446033.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."
4,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1111601.0,"AD, AE, AG, AL, AO, AR, AU, AZ, BA, BB, BE, BG..."

Examinando dataframe: amazon


Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68620 entries, 0 to 68619
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               67178 non-null  object
 1   type                68620 non-null  object
 2   genres              66744 non-null  object
 3   releaseYear         68454 non-null  float64
 4   imdbId              62808 non-null  object
 5   imdbAverageRating   60633 non-null  float64
 6   imdbNumVotes        60633 non-null  float64
 7   availableCountries  68620 non-null  object
dtypes: float64(3), object(5)
memory usage: 4.2+ MB
None

Valores nulos:
title                 1442
type                     0
genres                1876
releaseYear            166
imdbId                5812
imdbAverageRating     7987
imdbNumVotes          7987
availableCountries       0
dtype: int64
Primeras 5 filas:

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Blondie,movie,"Comedy, Family",1938.0,tt0029927,6.9,889.0,"US, ZA"
1,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8822.0,JP
2,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,112843.0,"AT, DE"
3,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19377.0,US
4,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2328816.0,"AD, AT, CU, DE, FR, GF, IN, JP, MC, PF, SN"

Examinando dataframe: hbo


Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7342 entries, 0 to 7341
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               7117 non-null   object
 1   type                7342 non-null   object
 2   genres              7210 non-null   object
 3   releaseYear         7329 non-null   float64
 4   imdbId              6953 non-null   object
 5   imdbAverageRating   6877 non-null   float64
 6   imdbNumVotes        6877 non-null   float64
 7   availableCountries  7342 non-null   object
dtypes: float64(3), object(5)
memory usage: 459.0+ KB
None

Valores nulos:
title                 225
type                    0
genres                132
releaseYear            13
imdbId                389
imdbAverageRating     465
imdbNumVotes          465
availableCountries      0
dtype: int64
Primeras 5 filas:

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,518745.0,"DK, FI, NO, SE"
1,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,212483.0,"HK, MY, PH, SG, TW"
2,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,445916.0,"AG, AR, BB, BE, BO, BR, BS, BZ, CL, CO, CR, DO..."
3,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1111333.0,"AG, AR, BB, BO, BS, BZ, CL, CO, CR, DO, EC, GT..."
4,A History of Violence,movie,"Action, Crime, Drama",2005.0,tt0399146,7.4,259993.0,"AG, AR, BB, BO, BR, BS, BZ, CL, CO, CR, DO, EC..."

#### Reglas de Limpieza
Nulos en title: Eliminar directamente. No tiene sentido tratar contenido que no puede conocerse

Eliminar duplicados:
Si tienen los mismos valores en todas las columnas, eliminar directamente.
Si son duplicados en title o imdbId, me quedo con la primera aparición.

Dropeo la columna de imdbId no me hace falta y los nulos se estan considerando duplicados

Eliminar nulos:
Nulos en imdbAverageRating: Si quedan después de eliminar los de title, los reviso manualmente:
Si son películas o series, rellenar con la media del rating correspondiente al tipo.
Eliminar filas con más de 2 nulos: Filtrar filas con poca información útil.

Volver a revisar info() y revalorar limpieza

In [5]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20195 entries, 0 to 20194
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19684 non-null  object
 1   type                20195 non-null  object
 2   genres              19925 non-null  object
 3   releaseYear         20182 non-null  float64
 4   imdbId              18887 non-null  object
 5   imdbAverageRating   18734 non-null  float64
 6   imdbNumVotes        18734 non-null  float64
 7   availableCountries  20195 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.2+ MB

In [6]:
#Voy a ver que tal me sale con netflix si me va bien crearé funciones para hacerlo escalable

In [7]:
netflix_limpio=netflix.dropna(subset=["title"])

In [8]:
netflix_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19684 entries, 0 to 20194
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19684 non-null  object
 1   type                19684 non-null  object
 2   genres              19533 non-null  object
 3   releaseYear         19683 non-null  float64
 4   imdbId              18887 non-null  object
 5   imdbAverageRating   18734 non-null  float64
 6   imdbNumVotes        18734 non-null  float64
 7   availableCountries  19684 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.4+ MB

In [9]:
netflix_limpio=netflix_limpio.drop_duplicates()

In [10]:
netflix["title"].duplicated().value_counts()

title
False    18937
True      1258
Name: count, dtype: int64

In [11]:
netflix_limpio= netflix_limpio.drop_duplicates(subset="title")
netflix_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18936 entries, 0 to 20194
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18936 non-null  object
 1   type                18936 non-null  object
 2   genres              18810 non-null  object
 3   releaseYear         18935 non-null  float64
 4   imdbId              18217 non-null  object
 5   imdbAverageRating   18088 non-null  float64
 6   imdbNumVotes        18088 non-null  float64
 7   availableCountries  18936 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

In [12]:
netflix_limpio= netflix_limpio.drop(columns=["imdbId"])
netflix_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18936 entries, 0 to 20194
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18936 non-null  object
 1   type                18936 non-null  object
 2   genres              18810 non-null  object
 3   releaseYear         18935 non-null  float64
 4   imdbAverageRating   18088 non-null  float64
 5   imdbNumVotes        18088 non-null  float64
 6   availableCountries  18936 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.2+ MB

In [13]:
#Elimino las filas con mas de 3 nulos. Sobretodo porque me interesa contar con el genero de los titulos y es una columna mas dificil de rellenar.
netflix_limpio= netflix_limpio.dropna(thresh=(len(netflix_limpio.columns)-2))
netflix_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18810 entries, 0 to 20187
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18810 non-null  object
 1   type                18810 non-null  object
 2   genres              18810 non-null  object
 3   releaseYear         18810 non-null  float64
 4   imdbAverageRating   18088 non-null  float64
 5   imdbNumVotes        18088 non-null  float64
 6   availableCountries  18810 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [14]:
netflix_limpio.type.value_counts()

type
movie    14926
tv        3884
Name: count, dtype: int64

In [15]:
netflix_nuevo_rellenado_nulos=netflix_limpio.copy()

In [16]:
#Voy a estudiar si estaría bien darle la media de rating segun el tipo
peliculas_netflix_mediarating = round(netflix_limpio[netflix_limpio['type'] == 'movie']['imdbAverageRating'].mean(),1)
series_netflix_mediarating = round(netflix_limpio[netflix_limpio['type'] == 'tv']['imdbAverageRating'].mean(),1)

print(peliculas_netflix_mediarating,series_netflix_mediarating)

6.2 7.0

In [17]:
#Efectivamente las medias de valoraciones de imdb suelen ser mas altas para las series que para las peliculas
#  asi que le voy a dar a los nulos de rating la media según el tipo
netflix_limpio.loc[(netflix_limpio['type'] == 'movie') & (netflix_limpio['imdbAverageRating'].isna()), 'imdbAverageRating'] = peliculas_netflix_mediarating
netflix_limpio.loc[(netflix_limpio['type'] == 'tv') & (netflix_limpio['imdbAverageRating'].isna()), 'imdbAverageRating'] = series_netflix_mediarating

In [18]:
netflix_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18810 entries, 0 to 20187
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18810 non-null  object
 1   type                18810 non-null  object
 2   genres              18810 non-null  object
 3   releaseYear         18810 non-null  float64
 4   imdbAverageRating   18810 non-null  float64
 5   imdbNumVotes        18088 non-null  float64
 6   availableCountries  18810 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [19]:
#Compruebo lo mismo para el numero de votos
peliculas_netflix_media_votos = round(netflix_limpio[netflix_limpio['type'] == 'movie']['imdbNumVotes'].mean(),0)
series_netflix_media_votos = round(netflix_limpio[netflix_limpio['type'] == 'tv']['imdbNumVotes'].mean(),0)

print(peliculas_netflix_media_votos,series_netflix_media_votos)

36325.0 16650.0

In [20]:
#También era de esperar que el numero de valoraciones medio sule ser bastante mayor para las peliculas que para las series
# Procedo a repartir medias segun el tipo también para esta variable
netflix_limpio.loc[(netflix_limpio['type'] == 'movie') & (netflix_limpio['imdbNumVotes'].isna()), 'imdbNumVotes'] = peliculas_netflix_media_votos
netflix_limpio.loc[(netflix_limpio['type'] == 'tv') & (netflix_limpio['imdbNumVotes'].isna()), 'imdbNumVotes'] = series_netflix_media_votos

In [21]:
netflix_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18810 entries, 0 to 20187
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18810 non-null  object
 1   type                18810 non-null  object
 2   genres              18810 non-null  object
 3   releaseYear         18810 non-null  float64
 4   imdbAverageRating   18810 non-null  float64
 5   imdbNumVotes        18810 non-null  float64
 6   availableCountries  18810 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [22]:
netflix_limpio["imdbNumVotes"].value_counts() #Esto me chirría, tengo que mirar como hacer que no todos los valores nulos se cambien exactamente por la media porque puede fastidiar mis graficos
#Que sentido tiene que 701 peliculas coincidan en el numero de votos, se sale de lo normal completamente

imdbNumVotes
36325.0    701
55.0        32
39.0        30
53.0        30
51.0        30
          ...
4899.0       1
2849.0       1
2562.0       1
3412.0       1
4166.0       1
Name: count, Length: 9168, dtype: int64

In [23]:
netflix_nuevo_rellenado_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18810 entries, 0 to 20187
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18810 non-null  object
 1   type                18810 non-null  object
 2   genres              18810 non-null  object
 3   releaseYear         18810 non-null  float64
 4   imdbAverageRating   18088 non-null  float64
 5   imdbNumVotes        18088 non-null  float64
 6   availableCountries  18810 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [24]:
#Voy a probar con un sistema que he encontrado que funciona calculando media y desviación standard y rellenando los valores nulos con valores random que tienen en cuenta ambos valores
#De esta forma no habrá tantos valores concentrados en la media

In [25]:
nratings_peliculas_nulos = len(netflix_nuevo_rellenado_nulos[(netflix_nuevo_rellenado_nulos['type'] == 'movie') & (netflix_nuevo_rellenado_nulos['imdbAverageRating'].isna())])
nratings_series_nulos = len(netflix_nuevo_rellenado_nulos[(netflix_nuevo_rellenado_nulos['type'] == 'tv') & (netflix_nuevo_rellenado_nulos['imdbAverageRating'].isna())])

nvotos_peliculas_nulos = len(netflix_nuevo_rellenado_nulos[(netflix_nuevo_rellenado_nulos['type'] == 'movie') & (netflix_nuevo_rellenado_nulos['imdbNumVotes'].isna())])
nvotos_series_nulos = len(netflix_nuevo_rellenado_nulos[(netflix_nuevo_rellenado_nulos['type'] == 'tv') & (netflix_nuevo_rellenado_nulos['imdbNumVotes'].isna())])
#Calculo el numero de valores a rellenar

In [26]:
#Calculo medias y desviaciones de Ratings y numero de votos
peliculas_media_rating = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'movie']['imdbAverageRating'].mean()
series_media_rating = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'tv']['imdbAverageRating'].mean()
peliculas_std_rating = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'movie']['imdbAverageRating'].std()
series_std_rating = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'tv']['imdbAverageRating'].std()

peliculas_media_votos = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'movie']['imdbNumVotes'].mean()
series_media_votos = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'tv']['imdbNumVotes'].mean()
peliculas_std_votos = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'movie']['imdbNumVotes'].std()
series_std_votos = netflix_nuevo_rellenado_nulos[netflix_nuevo_rellenado_nulos['type'] == 'tv']['imdbNumVotes'].std()

In [27]:
#Relleno los nulos
netflix_nuevo_rellenado_nulos.loc[(netflix_nuevo_rellenado_nulos['type'] == 'movie') & (netflix_nuevo_rellenado_nulos['imdbAverageRating'].isna()), 'imdbAverageRating']= np.random.normal(peliculas_media_rating, peliculas_std_rating, nratings_peliculas_nulos)
netflix_nuevo_rellenado_nulos.loc[(netflix_nuevo_rellenado_nulos['type'] == 'tv') & (netflix_nuevo_rellenado_nulos['imdbAverageRating'].isna()), 'imdbAverageRating']= np.random.normal(series_media_rating, series_std_rating, nratings_series_nulos)

netflix_nuevo_rellenado_nulos.loc[(netflix_nuevo_rellenado_nulos['type'] == 'movie') & (netflix_nuevo_rellenado_nulos['imdbNumVotes'].isna()), 'imdbNumVotes']= np.random.normal(peliculas_media_votos, peliculas_std_votos, nvotos_peliculas_nulos)
netflix_nuevo_rellenado_nulos.loc[(netflix_nuevo_rellenado_nulos['type'] == 'tv') & (netflix_nuevo_rellenado_nulos['imdbNumVotes'].isna()), 'imdbNumVotes']= np.random.normal(series_media_votos, series_std_votos, nvotos_series_nulos)

In [28]:
netflix_nuevo_rellenado_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18810 entries, 0 to 20187
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               18810 non-null  object
 1   type                18810 non-null  object
 2   genres              18810 non-null  object
 3   releaseYear         18810 non-null  float64
 4   imdbAverageRating   18810 non-null  float64
 5   imdbNumVotes        18810 non-null  float64
 6   availableCountries  18810 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [29]:
netflix_nuevo_rellenado_nulos["imdbNumVotes"].value_counts()

imdbNumVotes
55.0         32
39.0         30
51.0         30
53.0         30
19.0         28
             ..
1111601.0     1
446033.0      1
212517.0      1
1226977.0     1
518792.0      1
Name: count, Length: 9888, dtype: int64

In [30]:
netflix_nuevo_rellenado_nulos["imdbAverageRating"].value_counts()

imdbAverageRating
6.600000    770
6.400000    750
6.300000    741
6.500000    729
6.200000    724
           ...
8.533214      1
6.767519      1
5.459172      1
9.143248      1
4.046289      1
Name: count, Length: 804, dtype: int64

In [33]:
netflix_limpio=netflix_nuevo_rellenado_nulos.copy()

In [31]:
#Visto que todo es correcto procedo a diseñar las funciones a partir de lo que ya he hecho con netflix para aplicarlo a prime video y hbo,
#  lo voy a meter todo dentro de una clase que meteré en el archivo limpieza.py

In [43]:
class limpieza_v1:
    def eliminar_nulos_title(self, df):
        return df.dropna(subset=["title"])

    def eliminar_duplicados_completos(self, df):
        return df.drop_duplicates()

    def eliminar_duplicados_title(self, df):
        return df.drop_duplicates(subset="title")

    def eliminar_columna_imdbId(self, df):
        return df.drop(columns=["imdbId"])

    def eliminar_filas_con_muchos_nulos(self, df):
        return df.dropna(thresh=(len(df.columns) - 2))

    def rellenar_nulos_mejorada(self, df, columna):
        grupos = df['type'].unique()
        for grupo in grupos:
            media = df[df['type'] == grupo][columna].mean()
            std = df[df['type'] == grupo][columna].std()
            n_nulos = len(df[(df['type'] == grupo) & (df[columna].isna())])
            df.loc[(df['type'] == grupo) & (df[columna].isna()), columna] = np.random.normal(media, std, n_nulos)
        return df

    def limpiar_dataset(self, df):
        df = self.eliminar_nulos_title(df)
        df = self.eliminar_duplicados_completos(df)
        df = self.eliminar_duplicados_title(df)
        df = self.eliminar_columna_imdbId(df)
        df = self.eliminar_filas_con_muchos_nulos(df)
        df = self.rellenar_nulos_mejorada(df, 'imdbAverageRating')
        df = self.rellenar_nulos_mejorada(df, 'imdbNumVotes')
        return df

In [38]:
limpiador=limpieza()

In [50]:
amazon_limpio=limpiador.limpiar_dataset(df=amazon)
hbo_limpio=limpiador.limpiar_dataset(df=hbo)

In [51]:
amazon_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61284 entries, 0 to 68619
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               61284 non-null  object
 1   type                61284 non-null  object
 2   genres              61235 non-null  object
 3   releaseYear         61284 non-null  float64
 4   imdbAverageRating   61284 non-null  float64
 5   imdbNumVotes        61284 non-null  float64
 6   availableCountries  61284 non-null  object
dtypes: float64(3), object(4)
memory usage: 3.7+ MB

In [52]:
hbo_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6932 entries, 0 to 7341
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               6932 non-null   object
 1   type                6932 non-null   object
 2   genres              6925 non-null   object
 3   releaseYear         6932 non-null   float64
 4   imdbAverageRating   6932 non-null   float64
 5   imdbNumVotes        6932 non-null   float64
 6   availableCountries  6932 non-null   object
dtypes: float64(3), object(4)
memory usage: 433.2+ KB

In [ ]:
#Me sigue quedando un desajuste en los generos en las otras dos tablas, voy a añadir a la clase que al final elimne todas las filas con nulos en genre

In [46]:
class limpieza:
    def eliminar_nulos_title(self, df):
        return df.dropna(subset=["title"])

    def eliminar_duplicados_completos(self, df):
        return df.drop_duplicates()

    def eliminar_duplicados_title(self, df):
        return df.drop_duplicates(subset="title")

    def eliminar_columna_imdbId(self, df):
        return df.drop(columns=["imdbId"])
    
    def eliminar_filas_con_muchos_nulos(self, df):
        max_nulos = len(df.columns) - 2
        return df.dropna(thresh=max_nulos)
    
    def eliminar_filas_con_genres_nulo(self, df):
        return df.dropna(subset=["genres"])

    def rellenar_nulos_mejorada(self, df, columna):
        grupos = df['type'].unique()
        for grupo in grupos:
            media = df[df['type'] == grupo][columna].mean()
            std = df[df['type'] == grupo][columna].std()
            n_nulos = len(df[(df['type'] == grupo) & (df[columna].isna())])
            df.loc[(df['type'] == grupo) & (df[columna].isna()), columna] = np.random.normal(media, std, n_nulos)
        return df
    

    def limpiar_dataset(self, df):
        df = self.eliminar_nulos_title(df)
        df = self.eliminar_duplicados_completos(df)
        df = self.eliminar_duplicados_title(df)
        df = self.eliminar_columna_imdbId(df)
        df = self.eliminar_filas_con_muchos_nulos(df)
        df = self.eliminar_filas_con_genres_nulo(df)
        df = self.rellenar_nulos_mejorada(df, 'imdbAverageRating')
        df = self.rellenar_nulos_mejorada(df, 'imdbNumVotes')
        return df

### Nuevas Reglas De Limpieza
1. Eliminar filas con nulos en la columna "title"
2. Eliminar duplicados 
3. Drop de la columna imbdId
4. Eliminar filas con mas de 2 nulos
5. Eliminar filas con nulos en "genres"
6. rellenado de nulos en ratings y numero de votos con medias, desviaciones tipicas y valores aleatorios basados en ambas
7. Revisar y limpieza y recorregir